{% extends "!layout.html" %}

{% block menu %}
    {{ super() }}

    {% if menu_links %}
        <p class="caption">
            <span class="caption-text">外部链接</span>
        </p>
        <ul>
            {% for text, link in menu_links %}
                <li class="toctree-l1"><a href="{{ link }}">{{ text }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block comments %}
{{ super() }}
<!-- gitalk 脚本-->
<!--<div id="gitalk-container"></div>-->
<!--<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">-->
<!--<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>-->
<!--<script type="text/javascript">-->
<!--  var gitalk = new Gitalk({-->
<!--    clientID: 'b430df1a53b187558d83',-->
<!--    clientSecret: '1fb9733d3c08f788ac3fd8951a281febb3ef5e32',-->
<!--    owner: 'gmt-china',-->
<!--    repo: 'gitalk',-->
<!--    admin: ['lichangsheng','weihuajing','fengyanjie'],-->
<!--    body: location.href,-->
<!--  });-->
<!--gitalk.render('gitalk-container');-->
<!--</script>-->
{% endblock %}
